<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %> | myApp</title>  </head>
  <body>
    
<%#Find me in app/views/staticpages/home.html.erb <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>%>
    
    <div class="center jumbotron">
    <h1>Welcome to MuseX</h1>

    <h2>
    <p> Enjoy musics, and share your feelings on them.</p>
    </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

  </body>
</html>